{% extends "base.html.twig" %}

{% block title %} symForum - Connexion {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron p-4">
            <h1 class="display-4">Page de connexion</h1>
            <p class="lead">Ceci est le formulaire de connexion</p>
            <hr class="my-4">
            <p>Pour commencer, veuillez vous connecter sur la page de connexion</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Retour en arrière</a>
        </div>
    </div>
{% endblock %}