{% extends "base.html.twig" %}

{% block title %} symForum - Accueil {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron p-4">
            <h1 class="display-4">Création d'un articles</h1>
            <p class="lead">Création d'un article</p>
            <hr class="my-4">
            <p>Pour se rediriger allez sur : </p>
            <a class="btn btn-primary btn-lg" href="/article/create" role="button">Créer un article</a>
            <a class="btn btn-primary btn-lg" href="/article/delete" role="button">Supprimer un article</a>
            <a class="btn btn-primary btn-lg" href="/article/modify" role="button">Modifié</a>
            <a class="btn btn-primary btn-lg" href="/article/" role="button">Voir mes articles</a>
        </div>
    </div>
{% endblock %}